html{
    height: 120%;
}
body{
background-image: url(../Img/img11.jpg);
background-repeat: no-repeat;
background-size: cover;
}
/* navegacion */
header{
    background-color: rgb(255, 136, 0);
    text-align: center;
    padding: 15px 1;
    font-size: 15px;
    position: sticky;
  top: 0;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 30px;
    padding: 5px 15px; 
    border-radius: 30px;
}

nav a:hover{
    background-color: rgb(0, 89, 255);
     color: rgb(255, 255, 255);
}
div#general{
margin: auto;
margin-top: 20px;
width: 900px;
height: 600px;
background: rgb(5, 5, 5);
}

div#uno{
float:left;
width: 270px;
height: 505px;
background: rgb(39, 54, 190);
}
div#segundo{
    float: left;
width: 600px;
height: 200px;
background: rgb(201, 191, 191);
}
div#tercero{
    float: left;
width: 600px;
height: 300px;
background: rgb(216, 108, 6);
}
h1,h2{
    font-family: 'Akronim', cursive;
}
.boton{
    border-radius: .5rem;
    background: linear-gradient(red, orange);
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 70%;
    font-size: 40px; 
    padding: 5px 1px;
    
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul li {
    list-style: none;
    margin: 0 15px;
  }
 
  ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: black;
    border-radius: 50%;
    font-size: 30px;
    color: blue;
    transition: .5s;
  }
  
  ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: yellow;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px yellow;
  }
  
  ul li a:hover {
 color: yellow;
    box-shadow: 0 0 5px red;
    text-shadow: 0 0 5px rgb(245, 7, 7);
  
 }
 
.grupo2{
    background-color: blue;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}